   
<app-panel headerText="Movie name">
    <div fxLayout="row" fxLayoutGap="30px" fxFlexgt-md="70%" fxFlex="100%">
        <div fxFlexgt-md="70%" fxFlex="100%">
          <img src="">
        </div>
        <div fxFlex="30%" fxLayout="column" class="user-details" fxShow.gt-md="true" fxShow="false">
           <h1 class="user-label">Contact Agent</h1>
           <!-- <h6 class="user-name">{{this.owner.firstName}} {{this.owner.lastName}}</h6>
           <p class="user-name">{{this.item.cellphone}}</p> -->
          <p class="form-label">Fill in the form below to leave a message.</p>
        
        </div>
    </div>
</app-panel>

