.pagination{
    display: flex;
    width: 100%;
    color: #fff;
    font-family: "kanit-medium", Arial, Helvetica, sans-serif;
    background-color: #303B42;
    justify-content: flex-end;
    align-items: flex-end;
}